In [11]:
import sys
sys.executable

'/data/horse/ws/arsi805e-finetune/Thesis/my-kernel/bin/python'

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [1]:
import gc
import os
import copy
import json
import random
import pickle
import numpy as np
import pandas as pd
import networkx as nx
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn import preprocessing

import torch
import torch.nn.functional as F

In [2]:
data_path = "mimic-iv-3.1/hosp"
data_path

'mimic-iv-3.1/hosp'

In [3]:
med_file = os.path.join(data_path, "prescriptions.csv.gz")
procedure_file = os.path.join(data_path, "procedures_icd.csv.gz")
diag_file = os.path.join(data_path, "diagnoses_icd.csv.gz")
admission_file = os.path.join(data_path, "admissions.csv.gz")
lab_test_file = os.path.join(data_path, "labevents.csv.gz")
patient_file = os.path.join(data_path, "patients.csv.gz")

In [5]:
d_icd_procedure_file = os.path.join(data_path, "d_icd_procedures.csv.gz")
d_icd_diagnosis_file = os.path.join(data_path, "d_icd_diagnoses.csv.gz")
d_labevents_file = os.path.join(data_path, "d_labitems.csv.gz")
d_hcpcs_file = os.path.join(data_path, "d_hcpcs.csv.gz")

# EDA

In [6]:
med_file = pd.read_csv(med_file, low_memory=False)
med_file.head()

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,12775705,10000032-55,55.0,P85UQ1,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
1,10000032,22595853,18415984,10000032-42,42.0,P23SJA,2180-05-07 02:00:00,2180-05-07 22:00:00,MAIN,Ipratropium Bromide Neb,...,021700,4.879801e+08,2.5mL Vial,NaN,1,NEB,1,VIAL,4.0,IH
2,10000032,22595853,23637373,10000032-35,35.0,P23SJA,2180-05-07 01:00:00,2180-05-07 09:00:00,MAIN,Furosemide,...,008208,5.107901e+10,20mg Tablet,NaN,20,mg,1,TAB,1.0,PO/NG
3,10000032,22595853,26862314,10000032-41,41.0,P23SJA,2180-05-07 01:00:00,2180-05-07 01:00:00,MAIN,Potassium Chloride,...,001275,2.450041e+08,10mEq ER Tablet,NaN,40,mEq,4,TAB,1.0,PO
4,10000032,22595853,30740602,10000032-27,27.0,P23SJA,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV

In [11]:
a = med_file[med_file['subject_id']==10000032]
a

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,12775705,10000032-55,55.0,P85UQ1,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
1,10000032,22595853,18415984,10000032-42,42.0,P23SJA,2180-05-07 02:00:00,2180-05-07 22:00:00,MAIN,Ipratropium Bromide Neb,...,021700,4.879801e+08,2.5mL Vial,NaN,1,NEB,1,VIAL,4.0,IH
2,10000032,22595853,23637373,10000032-35,35.0,P23SJA,2180-05-07 01:00:00,2180-05-07 09:00:00,MAIN,Furosemide,...,008208,5.107901e+10,20mg Tablet,NaN,20,mg,1,TAB,1.0,PO/NG
3,10000032,22595853,26862314,10000032-41,41.0,P23SJA,2180-05-07 01:00:00,2180-05-07 01:00:00,MAIN,Potassium Chloride,...,001275,2.450041e+08,10mEq ER Tablet,NaN,40,mEq,4,TAB,1.0,PO
4,10000032,22595853,30740602,10000032-27,27.0,P23SJA,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,10000032,29079034,84011070,10000032-185,185.0,P12N2O,2180-07-23 17:00:00,2180-07-25 22:00:00,MAIN,Emtricitabine-Tenofovir (Truvada),...,057883,6.195807e+10,200-300mg Tablet,NaN,1,TAB,1,TAB,1.0,PO
77,10000032,29079034,85969210,10000032-209,209.0,P88VLV,2180-07-24 11:00:00,2180-07-25 22:00:00,MAIN,Bisacodyl,...,002947,5.363381e+08,5 mg Tab,NaN,10,mg,2,TAB,NaN,PO
78,10000032,29079034,87676368,10000032-188,188.0,P12N2O,2180-07-23 17:00:00,2180-07-24 10:00:00,MAIN,Tiotropium Bromide,...,050714,5.970076e+08,18mcg Capsule-Inhalation Device,NaN,1,CAP,1,CAP,1.0,IH
79,10000032,29079034,91384726,10000032-205,205.0,P88VLV,2180-07-24 10:00:00,2180-07-25 09:00:00,MAIN,Albumin 25% (12.5g / 50mL),...,006329,6.746706e+10,50 mL Bag,NaN,50,g,4,BAG,1.0,IV
80,10000032,29079034,92420706,10000032-208,208.0,P88VLV,2180-07-24 11:00:00,2180-07-25 22:00:00,MAIN,Senna,...,019964,9.045166e+08,8.6 mg Tablet,NaN,8.6,mg,1,TAB,NaN,PO

In [12]:
a[a['hadm_id']==22841357]

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
14,10000032,22841357,6972845,10000032-108,108.0,P992IN,2180-06-27 08:00:00,2180-06-27 23:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
15,10000032,22841357,11030592,10000032-97,97.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Rifaximin,...,066295,6.564903e+10,550mg Tablet,NaN,550,mg,1,TAB,2.0,PO/NG
16,10000032,22841357,17572008,10000032-83,83.0,P992IN,2180-06-26 22:00:00,2180-06-27 23:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV
17,10000032,22841357,30474366,10000032-91,91.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Albuterol Inhaler,...,028090,1.730682e+08,8 g Inhaler,NaN,2,PUFF,0.02,INH,NaN,IH
18,10000032,22841357,39916938,10000032-92,92.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Calcium Carbonate,...,001340,5.481202e+07,1250mg Tablet,NaN,1250,mg,1,TAB,2.0,PO/NG
19,10000032,22841357,41871702,10000032-94,94.0,P992IN,2180-06-26 23:00:00,2180-06-26 22:00:00,MAIN,Furosemide,...,008208,5.107901e+10,20mg Tablet,NaN,20,mg,1,TAB,1.0,PO/NG
20,10000032,22841357,50970031,10000032-90,90.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Acetaminophen,...,004490,9.041989e+08,500mg Tablet,NaN,500,mg,1,TAB,NaN,PO/NG
21,10000032,22841357,51162851,10000032-79,79.0,P992IN,2180-06-26 22:00:00,2180-06-27 23:00:00,MAIN,Influenza Vaccine Quadrivalent,...,072514,1.951509e+10,0.5 mL Syringe,NaN,0.5,mL,1,SYR,0.0,IM
22,10000032,22841357,53235121,10000032-113,113.0,P87CLZ,2180-06-27 18:00:00,2180-06-27 23:00:00,MAIN,Albumin 25% (12.5g / 50mL),...,006329,6.746706e+10,50 mL Bag,NaN,37.5,g,3,BAG,1.0,IV
23,10000032,22841357,57450639,10000032-100,100.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Tiotropium Bromide,...,050714,5.970076e+08,18mcg Capsule-Inhalation Device,NaN,1,CAP,1,CAP,1.0,IH
24,10000032,22841357,60447371,10000032-93,93.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Emtricitabine-Tenofovir (Truvada),...,057883,6.195807e+10,200-300mg Tablet,NaN,1,TAB,1,TAB,1.0,PO
25,10000032,22841357,67965808,10000032-95,95.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Lactulose,...,068217,1.214577e+08,20g/30mL Cup,NaN,30,mL,1,UDCUP,3.0,PO/NG
26,10000032,22841357,69100116,10000032-96,96.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Raltegravir,...,063231,6.022761e+06,400 mg Tablet,NaN,400,mg,1,TAB,2.0,PO
27,10000032,22841357,70537027,10000032-87,87.0,P992IN,2180-06-26 22:00:00,2180-06-27 23:00:00,MAIN,Heparin,...,006549,6.332303e+10,5000 Units / mL- 1mL Vial,NaN,5000,UNIT,1,mL,3.0,SC
28,10000032,22841357,78891963,10000032-99,99.0,P992IN,2180-06-26 23:00:00,2180-06-27 23:00:00,MAIN,Sulfameth/Trimethoprim DS,...,009396,9.042726e+08,DS Tablet,NaN,1,TAB,1,TAB,1.0,PO/NG

In [6]:
procedure_file = pd.read_csv(procedure_file, low_memory=False)
procedure_file.head()

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9
2    10000032  25742920        1  2180-08-06     5491            9
3    10000068  25022803        1  2160-03-03     8938            9
4    10000117  27988844        1  2183-09-19  0QS734Z           10

In [7]:
procedure_file

        subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0         10000032  22595853        1  2180-05-07     5491            9
1         10000032  22841357        1  2180-06-27     5491            9
2         10000032  25742920        1  2180-08-06     5491            9
3         10000068  25022803        1  2160-03-03     8938            9
4         10000117  27988844        1  2183-09-19  0QS734Z           10
...            ...       ...      ...         ...      ...          ...
859650    19999840  21033226        5  2164-09-16     0331            9
859651    19999840  26071774        1  2164-07-25     8891            9
859652    19999840  26071774        2  2164-07-25     8841            9
859653    19999987  23865745        1  2145-11-07     8841            9
859654    19999987  23865745        2  2145-11-02     9671            9

[859655 rows x 6 columns]

In [9]:
procedure_file[procedure_file['icd_version']==10]

        subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
4         10000117  27988844        1  2183-09-19  0QS734Z           10
24        10000947  27880650        1  2121-05-10  0FB23ZX           10
47        10001401  20144849        1  2136-11-22  0T9330Z           10
48        10001401  20144849        2  2136-11-22  0T763DZ           10
49        10001401  21544441        1  2131-06-04  0TTB4ZZ           10
...            ...       ...      ...         ...      ...          ...
859641    19999828  29734428        1  2147-07-27  0HR7X74           10
859642    19999828  29734428        2  2147-07-27  0HBJXZZ           10
859643    19999828  29734428        3  2147-07-27  0HBHXZZ           10
859644    19999828  29734428        4  2147-07-18  02HV33Z           10
859645    19999828  29734428        5  2147-07-19  3E0436Z           10

[390446 rows x 6 columns]

In [10]:
procedure_file[procedure_file['icd_version']==10]['icd_code'].nunique()

12354

There are 12,354 ICD-10 unique procedure codes

In [8]:
diag_file = pd.read_csv(diag_file, low_memory=False)
diag_file.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [9]:
diag_file

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[6364488 rows x 5 columns]

In [8]:
diag_file[diag_file['subject_id']==10000032]

    subject_id   hadm_id  seq_num icd_code  icd_version
0     10000032  22595853        1     5723            9
1     10000032  22595853        2    78959            9
2     10000032  22595853        3     5715            9
3     10000032  22595853        4    07070            9
4     10000032  22595853        5      496            9
5     10000032  22595853        6    29680            9
6     10000032  22595853        7    30981            9
7     10000032  22595853        8    V1582            9
8     10000032  22841357        1    07071            9
9     10000032  22841357        2    78959            9
10    10000032  22841357        3     2875            9
11    10000032  22841357        4     2761            9
12    10000032  22841357        5      496            9
13    10000032  22841357        6     5715            9
14    10000032  22841357        7      V08            9
15    10000032  22841357        8     3051            9
16    10000032  25742920        1    07054            9
17    10000032  25742920        2    78959            9
18    10000032  25742920        3     V462            9
19    10000032  25742920        4     5715            9
20    10000032  25742920        5     2767            9
21    10000032  25742920        6     2761            9
22    10000032  25742920        7      496            9
23    10000032  25742920        8      V08            9
24    10000032  25742920        9     3051            9
25    10000032  25742920       10    78791            9
26    10000032  29079034        1    45829            9
27    10000032  29079034        2    07044            9
28    10000032  29079034        3     7994            9
29    10000032  29079034        4     2761            9
30    10000032  29079034        5    78959            9
31    10000032  29079034        6     2767            9
32    10000032  29079034        7     3051            9
33    10000032  29079034        8      V08            9
34    10000032  29079034        9    V4986            9
35    10000032  29079034       10     V462            9
36    10000032  29079034       11      496            9
37    10000032  29079034       12    29680            9
38    10000032  29079034       13     5715            9

In [10]:
diag_file[diag_file['icd_version']==9]

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[2908741 rows x 5 columns]

We will try to ignore these (ICD-9)

In [8]:
diag_file[diag_file['icd_version']==10]

         subject_id   hadm_id  seq_num icd_code  icd_version
40         10000084  23052089        1    G3183           10
41         10000084  23052089        2    F0280           10
42         10000084  23052089        3     R441           10
43         10000084  23052089        4     R296           10
44         10000084  23052089        5     E785           10
...             ...       ...      ...      ...          ...
6364453    19999828  29734428       18    Z9049           10
6364454    19999828  29734428       19   Z87891           10
6364455    19999828  29734428       20    B9620           10
6364456    19999828  29734428       21    Z1611           10
6364457    19999828  29734428       22    I9581           10

[3455747 rows x 5 columns]

In [11]:
diag_file[diag_file['icd_version']==10]['icd_code'].nunique()

19440

There are 19,440 ICD-10 unique diagnosis codes

In [9]:
diag_file.dropna(inplace=True)
## my addidtion:
diag_file = diag_file[diag_file['icd_version']==10]
diag_file.drop(columns=['seq_num','icd_version'],inplace=True)
diag_file.drop_duplicates(inplace=True)
diag_file.sort_values(by=['subject_id','hadm_id'], inplace=True)
diag_file.reset_index(drop=True)

/tmp/ipykernel_4077179/3260913608.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diag_file.drop(columns=['seq_num','icd_version'],inplace=True)
/tmp/ipykernel_4077179/3260913608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diag_file.drop_duplicates(inplace=True)
/tmp/ipykernel_4077179/3260913608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diag_file.sort_values(by=['subject_id','hadm_id'], inplace=True)

         subject_id   hadm_id icd_code
0          10000084  23052089    G3183
1          10000084  23052089    F0280
2          10000084  23052089     R441
3          10000084  23052089     R296
4          10000084  23052089     E785
...             ...       ...      ...
3455684    19999828  29734428    Z9049
3455685    19999828  29734428   Z87891
3455686    19999828  29734428    B9620
3455687    19999828  29734428    Z1611
3455688    19999828  29734428    I9581

[3455689 rows x 3 columns]

In [32]:
med_file.columns

Index(['subject_id', 'hadm_id', 'pharmacy_id', 'poe_id', 'poe_seq',
       'order_provider_id', 'starttime', 'stoptime', 'drug_type', 'drug',
       'formulary_drug_cd', 'gsn', 'ndc', 'prod_strength', 'form_rx',
       'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
       'doses_per_24_hrs', 'route'],
      dtype='object')

In [ ]:
med_file[med_file['ndc'] == 0]

In [33]:
med_file[med_file['subject_id'] == 10000032]

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,12775705,10000032-55,55.0,P85UQ1,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
1,10000032,22595853,18415984,10000032-42,42.0,P23SJA,2180-05-07 02:00:00,2180-05-07 22:00:00,MAIN,Ipratropium Bromide Neb,...,021700,4.879801e+08,2.5mL Vial,NaN,1,NEB,1,VIAL,4.0,IH
2,10000032,22595853,23637373,10000032-35,35.0,P23SJA,2180-05-07 01:00:00,2180-05-07 09:00:00,MAIN,Furosemide,...,008208,5.107901e+10,20mg Tablet,NaN,20,mg,1,TAB,1.0,PO/NG
3,10000032,22595853,26862314,10000032-41,41.0,P23SJA,2180-05-07 01:00:00,2180-05-07 01:00:00,MAIN,Potassium Chloride,...,001275,2.450041e+08,10mEq ER Tablet,NaN,40,mEq,4,TAB,1.0,PO
4,10000032,22595853,30740602,10000032-27,27.0,P23SJA,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,10000032,29079034,84011070,10000032-185,185.0,P12N2O,2180-07-23 17:00:00,2180-07-25 22:00:00,MAIN,Emtricitabine-Tenofovir (Truvada),...,057883,6.195807e+10,200-300mg Tablet,NaN,1,TAB,1,TAB,1.0,PO
77,10000032,29079034,85969210,10000032-209,209.0,P88VLV,2180-07-24 11:00:00,2180-07-25 22:00:00,MAIN,Bisacodyl,...,002947,5.363381e+08,5 mg Tab,NaN,10,mg,2,TAB,NaN,PO
78,10000032,29079034,87676368,10000032-188,188.0,P12N2O,2180-07-23 17:00:00,2180-07-24 10:00:00,MAIN,Tiotropium Bromide,...,050714,5.970076e+08,18mcg Capsule-Inhalation Device,NaN,1,CAP,1,CAP,1.0,IH
79,10000032,29079034,91384726,10000032-205,205.0,P88VLV,2180-07-24 10:00:00,2180-07-25 09:00:00,MAIN,Albumin 25% (12.5g / 50mL),...,006329,6.746706e+10,50 mL Bag,NaN,50,g,4,BAG,1.0,IV
80,10000032,29079034,92420706,10000032-208,208.0,P88VLV,2180-07-24 11:00:00,2180-07-25 22:00:00,MAIN,Senna,...,019964,9.045166e+08,8.6 mg Tablet,NaN,8.6,mg,1,TAB,NaN,PO

In [10]:
lab_test_file = pd.read_csv(lab_test_file, low_memory=False)
lab_test_file

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,2704548,50931,P69FQC,2180-03-23 11:51:00,2180-03-23 15:56:00,___,95.00,mg/dL,70.0,100.0,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
1,2,10000032,NaN,36092842,51071,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
2,3,10000032,NaN,36092842,51074,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
3,4,10000032,NaN,36092842,51075,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
4,5,10000032,NaN,36092842,51079,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158374759,159057534,19999987,23865745.0,59879875,51279,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,3.52,3.52,m/uL,4.2,5.4,abnormal,ROUTINE,NaN
158374760,159057535,19999987,23865745.0,59879875,51301,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,5.7,5.70,K/uL,4.0,11.0,NaN,ROUTINE,NaN
158374761,159057536,19999987,NaN,74914384,50912,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,1.1,1.10,mg/dL,0.4,1.1,NaN,ROUTINE,NaN
158374762,159057537,19999987,NaN,74914384,50920,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,NaN,NaN,NaN,NaN,NaN,NaN,ROUTINE,"Using this patient's age, gender, and serum cr..."
158374763,159057538,19999987,NaN,74914384,51006,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,14,14.00,mg/dL,6.0,20.0,NaN,ROUTINE,NaN

In [10]:
def process_lab_test(n_bins=5):
    lab_pd = lab_test_file
    lab_pd = lab_pd.groupby(by=['subject_id','itemid']).head(1).reset_index(drop=True)  # only consider the first value
    lab_pd = lab_pd[lab_pd["valuenum"].notna()]
    lab_pd = lab_pd[lab_pd["hadm_id"].notna()]
    
    # lab_pd.drop(columns=['ROW_ID'], axis=1, inplace=True)
    
    def contains_text(group):
        for item in group:
            try:
                float(item)
            except ValueError:
                return True
        return False
    for itemid in lab_pd['itemid'].unique():
        group = lab_pd[lab_pd['itemid'] == itemid]['value']
        # if the lab test contains text value then directly copy the value
        if contains_text(group):
            lab_pd.loc[lab_pd['itemid'] == itemid, 'value_bin'] = group
        else:
            # value->numeric
            values_numeric = pd.to_numeric(group, errors='coerce')
            if len(values_numeric.dropna()) < n_bins:
                lab_pd.loc[lab_pd['itemid'] == itemid, 'value_bin'] = group
            else:
                # cut
    #             bins = np.linspace(values_numeric.min(), values_numeric.max(), n_bins + 1)
    #             lab_pd.loc[df['ITEMID'] == itemid, 'value_bin'] = pd.cut(values_numeric, bins=bins, labels=False, include_lowest=True)
                lab_pd.loc[lab_pd['itemid'] == itemid, 'value_bin'] = pd.qcut(values_numeric, q=n_bins, labels=False, duplicates='drop')
        
    lab_pd["itemid"] = lab_pd["itemid"].astype(str)
    lab_pd["value_bin"] = lab_pd["value_bin"].astype(str)
    lab_pd["lab_test"] = lab_pd[["itemid", "value_bin"]].apply("-".join, axis=1)
    
    lab_pd.drop(columns=['labevent_id', 'specimen_id', 'itemid',
           'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum',
           'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
           'comments', 'value_bin'], axis=1, inplace=True)
    lab_pd.drop_duplicates(inplace=True)
    return lab_pd.reset_index(drop=True)

In [11]:
lab_pd = process_lab_test()
lab_pd

         subject_id     hadm_id    lab_test
0          10000032  22595853.0     51114-1
1          10000032  22595853.0    51116-49
2          10000032  22595853.0    51117-35
3          10000032  22595853.0     51118-2
4          10000032  22595853.0     51120-0
...             ...         ...         ...
4388423    19999987  23865745.0   51200-0.3
4388424    19999987  23865745.0  51244-23.2
4388425    19999987  23865745.0   51254-7.3
4388426    19999987  23865745.0  51256-68.6
4388427    19999987  23865745.0   50954-383

[4388428 rows x 3 columns]

## Explore ICD (d_icd_diagnoses, d_icd_procedures) => Later Explore diagnoses_icd, procedures_icd

In [13]:
print("Columnsin procedure file:", procedure_file.columns)
print("Shape of procedure file:", procedure_file.shape)
print(procedure_file.head(10))

Columnsin procedure file: Index(['subject_id', 'hadm_id', 'seq_num', 'chartdate', 'icd_code',
       'icd_version'],
      dtype='object')
Shape of procedure file: (859655, 6)
   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9
2    10000032  25742920        1  2180-08-06     5491            9
3    10000068  25022803        1  2160-03-03     8938            9
4    10000117  27988844        1  2183-09-19  0QS734Z           10
5    10000280  25852320        1  2151-03-18     8938            9
6    10000560  28979390        1  2189-10-16     5551            9
7    10000635  26134563        1  2136-06-19     3734            9
8    10000635  26134563        2  2136-06-19     3728            9
9    10000635  26134563        3  2136-06-19     3727            9

Procedure file for a particular subject ID

In [14]:
procedure_file[procedure_file['subject_id'] == 10000032]

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9
2    10000032  25742920        1  2180-08-06     5491            9

In [15]:
print("Columns in diagnosis file:", diag_file.columns)  
print("Shape of diagnosis file:", diag_file.shape)
print(diag_file.head())

Columns in diagnosis file: Index(['subject_id', 'hadm_id', 'seq_num', 'icd_code', 'icd_version'], dtype='object')
Shape of diagnosis file: (6364488, 5)
   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [39]:
diag_file[diag_file['icd_code'] == 5723]

Empty DataFrame
Columns: [subject_id, hadm_id, seq_num, icd_code, icd_version, long_title]
Index: []

In [7]:
d_icd_diagnosis_file = pd.read_csv(d_icd_diagnosis_file, low_memory=False)
d_icd_procedure_file = pd.read_csv(d_icd_procedure_file, low_memory=False)

In [8]:
d_icd_diagnosis_file.describe()

         icd_version
count  112107.000000
mean        9.869179
std         0.337206
min         9.000000
25%        10.000000
50%        10.000000
75%        10.000000
max        10.000000

In [9]:
print("Columns in diagnosis file:", d_icd_diagnosis_file.columns)  
print("Shape of diagnosis file:", d_icd_diagnosis_file.shape)
print(d_icd_diagnosis_file.head(100))

print("\nUnique ICD-9 codes in diagnosis file:", d_icd_diagnosis_file['icd_code'].nunique())
non_unique_icd_codes_diag = d_icd_diagnosis_file['icd_code'][d_icd_diagnosis_file['icd_code'].duplicated(keep=False)]
print("\nNon-unique ICD-9 codes in procedure file:", non_unique_icd_codes_diag.unique())
print("\n Total Non-unique ICD-9 codes in procedure file:", len(non_unique_icd_codes_diag))

Columns in diagnosis file: Index(['icd_code', 'icd_version', 'long_title'], dtype='object')
Shape of diagnosis file: (112107, 3)
   icd_code  icd_version                                         long_title
0      0010            9                     Cholera due to vibrio cholerae
1      0011            9              Cholera due to vibrio cholerae el tor
2      0019            9                               Cholera, unspecified
3      0020            9                                      Typhoid fever
4      0021            9                                Paratyphoid fever A
..      ...          ...                                                ...
95    01081            9  Other primary progressive tuberculosis, bacter...
96    01082            9  Other primary progressive tuberculosis, bacter...
97    01083            9  Other primary progressive tuberculosis, tuberc...
98    01084            9  Other primary progressive tuberculosis, tuberc...
99    01085            9  Other primary progressive tuberculosis, tuberc...

[100 rows x 3 columns]

Unique ICD-9 codes in diagnosis file: 111594

Non-unique ICD-9 codes in procedure file: ['E030' 'E8020' 'E8021' 'E8029' 'E8300' 'E8301' 'E8309' 'E8310' 'E8311'
 'E8319' 'E8330' 'E8331' 'E8332' 'E8339' 'E8340' 'E8341' 'E8342' 'E8349'
 'E8350' 'E8351' 'E8352' 'E8359' 'E8381' 'E8389' 'E8411' 'E8419' 'E848'
 'E851' 'E8581' 'E8582' 'E8589' 'E8720' 'E8721' 'E8722' 'E8729' 'E8801'
 'E8809' 'E882' 'E8840' 'E8841' 'E8842' 'E8849' 'E8881' 'E8889' 'E892'
 'E894' 'E895' 'E896' 'E8981' 'V010' 'V011' 'V019' 'V020' 'V021' 'V029'
 'V030' 'V031' 'V039' 'V040' 'V041' 'V050' 'V051' 'V059' 'V060' 'V061'
 'V069' 'V090' 'V091' 'V092' 'V093' 'V103' 'V109' 'V110' 'V111' 'V112'
 'V113' 'V114' 'V119' 'V121' 'V122' 'V123' 'V131' 'V133' 'V134' 'V135'
 'V139' 'V140' 'V141' 'V142' 'V143' 'V144' 'V145' 'V149' 'V151' 'V152'
 'V153' 'V155' 'V159' 'V160' 'V161' 'V162' 'V163' 'V169' 'V170' 'V171'
 'V172' 'V173' 'V175' 'V180' 'V182' 'V183' 'V184' 'V189' 'V190' 'V191'
 'V1919' 'V192' 'V193' 'V194' 'V195' 'V196' 'V198' 'V200' 'V201' 'V202'
 'V2031' 'V210' 'V211' 'V212' 'V2131' 'V219' 'V220' 'V221' 'V222' 'V230'
 'V231' 'V232' 'V233' 'V2341' 'V2349' 'V235' 'V239' 'V240' 'V241' 'V242'
 'V2501' 'V2509' 'V251' 'V2511' 'V252' 'V253' 'V2541' 'V2549' 'V255'
 'V259' 'V260' 'V261' 'V2621' 'V2629' 'V2631' 'V2639' 'V2641' 'V2649'
 'V2651' 'V269' 'V270' 'V271' 'V272' 'V273' 'V274' 'V275' 'V279' 'V280'
 'V281' 'V282' 'V283' 'V284' 'V285' 'V289' 'V290' 'V291' 'V292' 'V293'
 'V298' 'V299' 'V301' 'V302' 'V311' 'V312' 'V321' 'V322' 'V331' 'V332'
 'V341' 'V342' 'V351' 'V352' 'V361' 'V362' 'V371' 'V372' 'V3900' 'V391'
 'V392' 'V400' 'V401' 'V402' 'V403' 'V409' 'V410' 'V411' 'V412' 'V413'
 'V414' 'V415' 'V416' 'V417' 'V419' 'V420' 'V421' 'V422' 'V423' 'V424'
 'V425' 'V426' 'V427' 'V429' 'V430' 'V431' 'V4321' 'V4322' 'V433' 'V434'
 'V435' 'V4361' 'V4362' 'V4363' 'V4364' 'V437' 'V440' 'V441' 'V442' 'V443'
 'V444' 'V446' 'V447' 'V449' 'V451' 'V452' 'V453' 'V454' 'V460' 'V462'
 'V463' 'V469' 'V470' 'V471' 'V472' 'V473' 'V474' 'V475' 'V479' 'V480'
 'V481' 'V482' 'V483' 'V484' 'V485' 'V486' 'V487' 'V489' 'V490' 'V491'
 'V492' 'V493' 'V494' 'V495' 'V4960' 'V4981' 'V499' 'V500' 'V501' 'V502'
 'V503' 'V509' 'V51' 'V510' 'V520' 'V521' 'V522' 'V523' 'V524' 'V529'
 'V531' 'V532' 'V534' 'V535' 'V536' 'V537' 'V549' 'V550' 'V551' 'V552'
 'V553' 'V554' 'V555' 'V556' 'V557' 'V559' 'V560' 'V561' 'V562' 'V570'
 'V571' 'V573' 'V574' 'V579' 'V580' 'V581' 'V582' 'V585' 'V589' 'V5909'
 'V591' 'V592' 'V593' 'V594' 'V595' 'V596' 'V598' 'V599' 'V600' 'V601'
 'V602' 'V603' 'V604' 'V605' 'V606' 'V609' 'V610' 'V613' 'V615' 'V616'
 'V617' 'V619' 'V620' 'V621' 'V622' 'V623' 'V624' 'V625' 'V626' 'V629'
 'V630' 'V631' 'V632' 'V639' 'V641' 'V642' 'V643' 'V650' 'V652' 'V653'
 'V655' 'V659' 'V660' 'V661' 'V662' 'V663' 'V664' 'V665' 'V666' 'V667'
 'V669' 'V671' 'V672' 'V673' 'V674' 'V676' 'V679' 'V681' 'V682' 'V689'
 'V690' 'V691' 'V692' 'V693' 'V694' 'V695' 'V698' 'V699' 'V700' 'V701'
 'V702' 'V703' 'V704' 'V705' 'V706' 'V707' 'V709' 'V711' 'V712' 'V713'
 'V714' 'V715' 'V716' 'V717' 'V719' 'V720' 'V722' 'V725' 'V726' 'V727'
 'V729' 'V730' 'V731' 'V732' 'V733' 'V734' 'V735' 'V736' 'V740' 'V741'
 'V742' 'V743' 'V744' 'V745' 'V746' 'V749' 'V750' 'V751' 'V752' 'V753'
 'V754' 'V755' 'V756' 'V757' 'V759' 'V760' 'V762' 'V763' 'V769' 'V770'
 'V771' 'V772' 'V773' 'V774' 'V775' 'V776' 'V777' 'V780' 'V781' 'V782'
 'V783' 'V789' 'V790' 'V791' 'V792' 'V793' 'V798' 'V799' 'V800' 'V8001'
 'V801' 'V802' 'V803' 'V810' 'V811' 'V812' 'V813' 'V814' 'V815' 'V816'
 'V820' 'V821' 'V822' 'V823' 'V824' 'V825' 'V826' 'V829' 'V850' 'V851'
 'V854' 'V860' 'V861' 'V872' 'V9001' 'V9009' 'V9010' 'V9011' 'V9012'
 'V902' 'V9031' 'V9032' 'V9033' 'V9039' 'V9081' 'V9083' 'V9089' 'V9100'
 'V9101' 'V9102' 'V9103' 'V9109' 'V9110' 'V9111' 'V9112' 'V9119' 'V9120'
 'V9121' 'V9122' 'V9129']

 Total Non-unique ICD-9 codes in procedure file: 1026

In [12]:
d_icd_diagnosis_file[d_icd_diagnosis_file['icd_version'] == 10]

,icd_code,icd_version,long_title
12238,A00,10,Cholera
12239,A000,10,"Cholera due to Vibrio cholerae 01, biovar chol..."
12240,A001,10,"Cholera due to Vibrio cholerae 01, biovar eltor"
12241,A009,10,"Cholera, unspecified"
12242,A01,10,Typhoid and paratyphoid fevers
...,...,...,...
112102,Z992,10,Dependence on renal dialysis
112103,Z993,10,Dependence on wheelchair
112104,Z998,10,Dependence on other enabling machines and devices
112105,Z9981,10,Dependence on supplemental oxygen
112106,Z9989,10,Dependence on other enabling machines and devices

In [19]:
print("\nE.g.")
print(d_icd_diagnosis_file[d_icd_diagnosis_file['icd_code'] == 'E030'])
print(d_icd_diagnosis_file[d_icd_diagnosis_file['icd_code'] == 'V9119'])

E.g.
      icd_code  icd_version                                     long_title
16151     E030            9                           Unspecified activity
16152     E030           10  Congenital hypothyroidism with diffuse goiter
       icd_code  icd_version  \
104883    V9119            9
104884    V9119           10

                                               long_title
104883  Triplet gestation, unable to determine number ...
104884  Crushed between unspecified watercraft and oth...

In [20]:
print("Columns in procedure file:", d_icd_procedure_file.columns)  
print("Shape of procedure file:", d_icd_procedure_file.shape)
print(d_icd_procedure_file)

print("\nUnique ICD-9 codes in procedure file:", d_icd_procedure_file['icd_code'].nunique())
non_unique_icd_codes = d_icd_procedure_file['icd_code'][d_icd_procedure_file['icd_code'].duplicated(keep=False)]
print("\nNon-unique ICD-9 codes in procedure file:", non_unique_icd_codes.unique())

print("\nE.g.")
print(d_icd_procedure_file[d_icd_procedure_file['icd_code'] == '031'])
print(d_icd_procedure_file[d_icd_procedure_file['icd_code'] == '093'])

Columns in procedure file: Index(['icd_code', 'icd_version', 'long_title'], dtype='object')
Shape of procedure file: (86423, 3)
      icd_code  icd_version                                         long_title
0         0001            9  Therapeutic ultrasound of vessels of head and ...
1         0002            9                    Therapeutic ultrasound of heart
2         0003            9  Therapeutic ultrasound of peripheral vascular ...
3         0009            9                       Other therapeutic ultrasound
4          001           10  Central Nervous System and Cranial Nerves, Bypass
...        ...          ...                                                ...
86418  XXEBXQ6           10  Measurement of Infection, Lower Respiratory Fl...
86419      XY0           10       New Technology, Extracorporeal, Introduction
86420  XY0VX83           10  Extracorporeal Introduction of Endothelial Dam...
86421  XY0YX28           10  Extracorporeal Introduction of Taurolidine Ant...
86422  XY0YX37           10  Extracorporeal Introduction of Nafamostat Anti...

[86423 rows x 3 columns]

Unique ICD-9 codes in procedure file: 86417

Non-unique ICD-9 codes in procedure file: ['031' '045' '059' '067' '090' '093']

E.g.
     icd_code  icd_version                          long_title
6422      031            9  Division of intraspinal nerve root
6423      031           10              Upper Arteries, Bypass
      icd_code  icd_version                          long_title
25243      093            9  Other operations on lacrimal gland
25244      093           10           Ear, Nose, Sinus, Control

In [21]:
procedure_file = procedure_file.merge(
    d_icd_procedure_file[['icd_code', 'icd_version', 'long_title']],
    on=['icd_code', 'icd_version'],
    how='left'
)
procedure_file

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,long_title
0,10000032,22595853,1,2180-05-07,5491,9,Percutaneous abdominal drainage
1,10000032,22841357,1,2180-06-27,5491,9,Percutaneous abdominal drainage
2,10000032,25742920,1,2180-08-06,5491,9,Percutaneous abdominal drainage
3,10000068,25022803,1,2160-03-03,8938,9,Other nonoperative respiratory measurements
4,10000117,27988844,1,2183-09-19,0QS734Z,10,Reposition Left Upper Femur with Internal Fixa...
...,...,...,...,...,...,...,...
859650,19999840,21033226,5,2164-09-16,0331,9,Spinal tap
859651,19999840,26071774,1,2164-07-25,8891,9,Magnetic resonance imaging of brain and brain ...
859652,19999840,26071774,2,2164-07-25,8841,9,Arteriography of cerebral arteries
859653,19999987,23865745,1,2145-11-07,8841,9,Arteriography of cerebral arteries
859654,19999987,23865745,2,2145-11-02,9671,9,Continuous invasive mechanical ventilation for...

In [22]:
diag_file = diag_file.merge(
    d_icd_diagnosis_file[['icd_code', 'icd_version', 'long_title']],
    on=['icd_code', 'icd_version'],
    how='left'
)
diag_file

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
0,10000032,22595853,1,5723,9,Portal hypertension
1,10000032,22595853,2,78959,9,Other ascites
2,10000032,22595853,3,5715,9,Cirrhosis of liver without mention of alcohol
3,10000032,22595853,4,07070,9,Unspecified viral hepatitis C without hepatic ...
4,10000032,22595853,5,496,9,"Chronic airway obstruction, not elsewhere clas..."
...,...,...,...,...,...,...
6364483,19999987,23865745,7,41401,9,Coronary atherosclerosis of native coronary ar...
6364484,19999987,23865745,8,78039,9,Other convulsions
6364485,19999987,23865745,9,0413,9,FriedlÃ¤nder's bacillus infection in conditions...
6364486,19999987,23865745,10,36846,9,Homonymous bilateral field defects
6364487,19999987,23865745,11,7810,9,Abnormal involuntary movements

In [40]:
diag_file[diag_file['icd_code'] == 5723]

Empty DataFrame
Columns: [subject_id, hadm_id, seq_num, icd_code, icd_version, long_title]
Index: []

In [29]:
sub = diag_file[diag_file['subject_id'] == 10000032]
sub

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
0,10000032,22595853,1,5723,9,Portal hypertension
1,10000032,22595853,2,78959,9,Other ascites
2,10000032,22595853,3,5715,9,Cirrhosis of liver without mention of alcohol
3,10000032,22595853,4,07070,9,Unspecified viral hepatitis C without hepatic ...
4,10000032,22595853,5,496,9,"Chronic airway obstruction, not elsewhere clas..."
5,10000032,22595853,6,29680,9,"Bipolar disorder, unspecified"
6,10000032,22595853,7,30981,9,Posttraumatic stress disorder
7,10000032,22595853,8,V1582,9,Personal history of tobacco use
8,10000032,22841357,1,07071,9,Unspecified viral hepatitis C with hepatic coma
9,10000032,22841357,2,78959,9,Other ascites
10,10000032,22841357,3,2875,9,"Thrombocytopenia, unspecified"
11,10000032,22841357,4,2761,9,Hyposmolality and/or hyponatremia
12,10000032,22841357,5,496,9,"Chronic airway obstruction, not elsewhere clas..."
13,10000032,22841357,6,5715,9,Cirrhosis of liver without mention of alcohol
14,10000032,22841357,7,V08,9,Asymptomatic human immunodeficiency virus [HIV...
15,10000032,22841357,8,3051,9,Tobacco use disorder
16,10000032,25742920,1,07054,9,Chronic hepatitis C without mention of hepatic...
17,10000032,25742920,2,78959,9,Other ascites
18,10000032,25742920,3,V462,9,"Other dependence on machines, supplemental oxygen"
19,10000032,25742920,4,5715,9,Cirrhosis of liver without mention of alcohol
20,10000032,25742920,5,2767,9,Hyperpotassemia
21,10000032,25742920,6,2761,9,Hyposmolality and/or hyponatremia
22,10000032,25742920,7,496,9,"Chronic airway obstruction, not elsewhere clas..."
23,10000032,25742920,8,V08,9,Asymptomatic human immunodeficiency virus [HIV...
24,10000032,25742920,9,3051,9,Tobacco use disorder
25,10000032,25742920,10,78791,9,Diarrhea
26,10000032,29079034,1,45829,9,Other iatrogenic hypotension
27,10000032,29079034,2,07044,9,Chronic hepatitis C with hepatic coma
28,10000032,29079034,3,7994,9,Cachexia
29,10000032,29079034,4,2761,9,Hyposmolality and/or hyponatremia
30,10000032,29079034,5,78959,9,Other ascites
31,10000032,29079034,6,2767,9,Hyperpotassemia
32,10000032,29079034,7,3051,9,Tobacco use disorder
33,10000032,29079034,8,V08,9,Asymptomatic human immunodeficiency virus [HIV...
34,10000032,29079034,9,V4986,9,Do not resuscitate status
35,10000032,29079034,10,V462,9,"Other dependence on machines, supplemental oxygen"
36,10000032,29079034,11,496,9,"Chronic airway obstruction, not elsewhere clas..."
37,10000032,29079034,12,29680,9,"Bipolar disorder, unspecified"
38,10000032,29079034,13,5715,9,Cirrhosis of liver without mention of alcohol

Notice for the same patient (Subject_id), there are multiple hadm_id which means there were several visits. In each visit, the patient was sent to mulitple centres like ED, OP etc indicated by the 'seq_num'

For a particular hadm_id:

In [30]:
sub[sub['hadm_id'] == 22595853]

,subject_id,hadm_id,seq_num,icd_code,icd_version,long_title
0,10000032,22595853,1,5723,9,Portal hypertension
1,10000032,22595853,2,78959,9,Other ascites
2,10000032,22595853,3,5715,9,Cirrhosis of liver without mention of alcohol
3,10000032,22595853,4,07070,9,Unspecified viral hepatitis C without hepatic ...
4,10000032,22595853,5,496,9,"Chronic airway obstruction, not elsewhere clas..."
5,10000032,22595853,6,29680,9,"Bipolar disorder, unspecified"
6,10000032,22595853,7,30981,9,Posttraumatic stress disorder
7,10000032,22595853,8,V1582,9,Personal history of tobacco use

In [34]:
sub_med = med_file[med_file['subject_id'] == 10000032]
sub_med

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,12775705,10000032-55,55.0,P85UQ1,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,5.107901e+10,40mg Tablet,NaN,40,mg,1,TAB,1.0,PO/NG
1,10000032,22595853,18415984,10000032-42,42.0,P23SJA,2180-05-07 02:00:00,2180-05-07 22:00:00,MAIN,Ipratropium Bromide Neb,...,021700,4.879801e+08,2.5mL Vial,NaN,1,NEB,1,VIAL,4.0,IH
2,10000032,22595853,23637373,10000032-35,35.0,P23SJA,2180-05-07 01:00:00,2180-05-07 09:00:00,MAIN,Furosemide,...,008208,5.107901e+10,20mg Tablet,NaN,20,mg,1,TAB,1.0,PO/NG
3,10000032,22595853,26862314,10000032-41,41.0,P23SJA,2180-05-07 01:00:00,2180-05-07 01:00:00,MAIN,Potassium Chloride,...,001275,2.450041e+08,10mEq ER Tablet,NaN,40,mEq,4,TAB,1.0,PO
4,10000032,22595853,30740602,10000032-27,27.0,P23SJA,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0.000000e+00,10 mL Syringe,NaN,3,mL,0.3,SYR,3.0,IV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,10000032,29079034,84011070,10000032-185,185.0,P12N2O,2180-07-23 17:00:00,2180-07-25 22:00:00,MAIN,Emtricitabine-Tenofovir (Truvada),...,057883,6.195807e+10,200-300mg Tablet,NaN,1,TAB,1,TAB,1.0,PO
77,10000032,29079034,85969210,10000032-209,209.0,P88VLV,2180-07-24 11:00:00,2180-07-25 22:00:00,MAIN,Bisacodyl,...,002947,5.363381e+08,5 mg Tab,NaN,10,mg,2,TAB,NaN,PO
78,10000032,29079034,87676368,10000032-188,188.0,P12N2O,2180-07-23 17:00:00,2180-07-24 10:00:00,MAIN,Tiotropium Bromide,...,050714,5.970076e+08,18mcg Capsule-Inhalation Device,NaN,1,CAP,1,CAP,1.0,IH
79,10000032,29079034,91384726,10000032-205,205.0,P88VLV,2180-07-24 10:00:00,2180-07-25 09:00:00,MAIN,Albumin 25% (12.5g / 50mL),...,006329,6.746706e+10,50 mL Bag,NaN,50,g,4,BAG,1.0,IV
80,10000032,29079034,92420706,10000032-208,208.0,P88VLV,2180-07-24 11:00:00,2180-07-25 22:00:00,MAIN,Senna,...,019964,9.045166e+08,8.6 mg Tablet,NaN,8.6,mg,1,TAB,NaN,PO

In [41]:
med = med_file.merge(
    d_icd_diagnosis_file[['icd_code', 'icd_version', 'long_title']],
    on=['subject_id', 'hadm_id'],
    how='left'
)
med

KeyError: 'subject_id'

## MIMIC (heart mimic)

In [20]:
def process_med():
    med_pd = pd.read_csv(med_file, dtype={'ndc':'category'})
    med_pd.drop(columns=['pharmacy_id', 'poe_id', 'poe_seq',
           'order_provider_id', 'stoptime', 'drug_type', 'drug',
           'formulary_drug_cd', 'gsn', 'prod_strength', 'form_rx',
           'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
           'doses_per_24_hrs', 'route'], axis=1, inplace=True)
    med_pd.drop(index = med_pd[med_pd['ndc'] == '0'].index, axis=0, inplace=True)
    med_pd.fillna(method='pad', inplace=True)
    med_pd.dropna(inplace=True)
    med_pd.drop_duplicates(inplace=True)
    med_pd['starttime'] = pd.to_datetime(med_pd['starttime'], format='%Y-%m-%d %H:%M:%S')    
    med_pd.sort_values(by=['subject_id', 'hadm_id', 'starttime'], inplace=True)
    med_pd = med_pd.reset_index(drop=True)
    def filter_first24hour_med(med_pd):
        med_pd_new = med_pd.drop(columns=['ndc'])
        med_pd_new = med_pd_new.groupby(by=['subject_id','hadm_id']).head(1).reset_index(drop=True)
        med_pd_new = pd.merge(med_pd_new, med_pd, on=['subject_id','hadm_id','starttime'])
        med_pd_new = med_pd_new.drop(columns=['starttime'])
        return med_pd_new
    med_pd = filter_first24hour_med(med_pd) # or next line
    med_pd = med_pd.drop_duplicates()
    # visit >= 2
#     def process_visit_lg2(med_pd):
#         a = med_pd[['SUBJECT_ID', 'HADM_ID']].groupby(by='SUBJECT_ID')['HADM_ID'].unique().reset_index()
#         a['HADM_ID_Len'] = a['HADM_ID'].map(lambda x:len(x))
#         a = a[a['HADM_ID_Len'] > 1]
#         return a 
#     med_pd_lg2 = process_visit_lg2(med_pd).reset_index(drop=True)    
#     med_pd = med_pd.merge(med_pd_lg2[['SUBJECT_ID']], on='SUBJECT_ID', how='inner')    
    return med_pd.reset_index(drop=True)

med_pd = process_med()
print("Processed medication data shape:", med_pd.shape)

/var/folders/lw/wfw134d96516nzgjvhphzz340000gn/T/ipykernel_3926/4073625577.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  med_pd = pd.read_csv(med_file, dtype={'ndc':'category'})
/var/folders/lw/wfw134d96516nzgjvhphzz340000gn/T/ipykernel_3926/4073625577.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  med_pd.fillna(method='pad', inplace=True)

Processed medication data shape: (2326611, 3)

In [21]:
med_pd.head()

   subject_id   hadm_id          ndc
0    10000032  22595853  19515089452
1    10000032  22595853  63323026201
2    10000032  22841357  19515089452
3    10000032  22841357  63323026201
4    10000032  25742920  00173068224

In [22]:
def process_procedure():
    pro_pd = pd.read_csv(procedure_file, dtype={'icd_code':'category'})
    pro_pd.drop(columns=['chartdate', 'icd_version'], inplace=True)
    pro_pd.drop_duplicates(inplace=True)
    pro_pd.sort_values(by=['subject_id', 'hadm_id', 'seq_num'], inplace=True)
    pro_pd.drop(columns=['seq_num'], inplace=True)
    pro_pd["icd_code"] = "PRO_" + pro_pd["icd_code"].astype(str)
    pro_pd.drop_duplicates(inplace=True)
    pro_pd.reset_index(drop=True, inplace=True)
    return pro_pd

procedure_pd = process_procedure()
print("Processed procedure data shape:", procedure_pd.shape)
print(procedure_pd.head())

Processed procedure data shape: (816491, 3)
   subject_id   hadm_id     icd_code
0    10000032  22595853     PRO_5491
1    10000032  22841357     PRO_5491
2    10000032  25742920     PRO_5491
3    10000068  25022803     PRO_8938
4    10000117  27988844  PRO_0QS734Z

In [23]:
def process_diag():
    diag_pd = pd.read_csv(diag_file)
    diag_pd.dropna(inplace=True)
    diag_pd.drop(columns=['seq_num','icd_version'],inplace=True)
    diag_pd.drop_duplicates(inplace=True)
    diag_pd.sort_values(by=['subject_id','hadm_id'], inplace=True)
    return diag_pd.reset_index(drop=True)

diag_pd = process_diag()
print("Processed diagnosis data shape:", diag_pd.shape)
print(diag_pd.head())

Processed diagnosis data shape: (6364100, 3)
   subject_id   hadm_id icd_code
0    10000032  22595853     5723
1    10000032  22595853    78959
2    10000032  22595853     5715
3    10000032  22595853    07070
4    10000032  22595853      496

In [24]:
def process_admission():
    ad_pd = pd.read_csv(admission_file)
    patient_pd = pd.read_csv(patient_file)
    
    ad_pd.drop(columns=['admission_type', 'admit_provider_id', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag'], axis=1, inplace=True)
    patient_pd.drop(columns=['anchor_year', 'anchor_year_group'], axis=1, inplace=True)
    
    ad_pd["admittime"] = pd.to_datetime(ad_pd['admittime'], format='%Y-%m-%d %H:%M:%S')
    ad_pd["dischtime"] = pd.to_datetime(ad_pd['dischtime'], format='%Y-%m-%d %H:%M:%S')  # time for leaving hospital
    ad_pd = ad_pd.merge(patient_pd, on=['subject_id'], how='inner')
    
    # create features: age, death, number of days in this encounter, readmission (next visit)
    ad_pd["age"] = ad_pd['anchor_age']
    # ad_pd[ad_pd["age"] >= 300] = 90
    age = ad_pd["age"]
    bins = np.linspace(age.min(), age.max(), 20 + 1)
    ad_pd['age'] = pd.cut(age, bins=bins, labels=False, include_lowest=True)
    ad_pd['age'] = "AGE_" + ad_pd["age"].astype("str")
    
    ad_pd["death"] = ad_pd["dod"].notna()
    ad_pd["stay_days"] = (ad_pd["dischtime"] - ad_pd["admittime"]).dt.days
    ad_pd['admittime'] = ad_pd['admittime'].astype(str)
    ad_pd.sort_values(by=['subject_id', 'hadm_id', 'admittime'], inplace=True)
    ad_pd['next_visit'] = ad_pd.groupby('subject_id')['hadm_id'].shift(-1)
    ad_pd['readmission'] = ad_pd['next_visit'].notnull().astype(int)
    ad_pd.drop('next_visit', axis=1, inplace=True)
    ad_pd.drop(columns=['dischtime', 'dod', 'deathtime', 'anchor_age'], axis=1, inplace=True)
    ad_pd.drop_duplicates(inplace=True)
    return ad_pd.reset_index(drop=True)

admission_pd = process_admission()
print("Processed admission data shape:", admission_pd.shape)
print(admission_pd.head())

Processed admission data shape: (546028, 8)
   subject_id   hadm_id            admittime gender    age  death  stay_days  \
0    10000032  22595853  2180-05-06 22:23:00      F  AGE_9   True          0
1    10000032  22841357  2180-06-26 18:27:00      F  AGE_9   True          1
2    10000032  25742920  2180-08-05 23:44:00      F  AGE_9   True          1
3    10000032  29079034  2180-07-23 12:35:00      F  AGE_9   True          2
4    10000068  25022803  2160-03-03 23:16:00      F  AGE_0  False          0

   readmission
0            1
1            1
2            1
3            0
4            0

In [ ]:
def process_lab_test(n_bins=5):
    lab_pd = pd.read_csv(lab_test_file)
    lab_pd = lab_pd.groupby(by=['subject_id','itemid']).head(1).reset_index(drop=True)  # only consider the first value
    lab_pd = lab_pd[lab_pd["valuenum"].notna()]
    lab_pd = lab_pd[lab_pd["hadm_id"].notna()]
    
    # lab_pd.drop(columns=['ROW_ID'], axis=1, inplace=True)
    
    def contains_text(group):
        for item in group:
            try:
                float(item)
            except ValueError:
                return True
        return False
    for itemid in lab_pd['itemid'].unique():
        group = lab_pd[lab_pd['itemid'] == itemid]['value']
        # if the lab test contains text value then directly copy the value
        if contains_text(group):
            lab_pd.loc[lab_pd['itemid'] == itemid, 'value_bin'] = group
        else:
            # value->numeric
            values_numeric = pd.to_numeric(group, errors='coerce')
            if len(values_numeric.dropna()) < n_bins:
                lab_pd.loc[lab_pd['itemid'] == itemid, 'value_bin'] = group
            else:
                # cut
    #             bins = np.linspace(values_numeric.min(), values_numeric.max(), n_bins + 1)
    #             lab_pd.loc[df['ITEMID'] == itemid, 'value_bin'] = pd.cut(values_numeric, bins=bins, labels=False, include_lowest=True)
                lab_pd.loc[lab_pd['itemid'] == itemid, 'value_bin'] = pd.qcut(values_numeric, q=n_bins, labels=False, duplicates='drop')
        
    lab_pd["itemid"] = lab_pd["itemid"].astype(str)
    lab_pd["value_bin"] = lab_pd["value_bin"].astype(str)
    lab_pd["lab_test"] = lab_pd[["itemid", "value_bin"]].apply("-".join, axis=1)
    
    lab_pd.drop(columns=['labevent_id', 'specimen_id', 'itemid',
           'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum',
           'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
           'comments', 'value_bin'], axis=1, inplace=True)
    lab_pd.drop_duplicates(inplace=True)
    return lab_pd.reset_index(drop=True)

lab_test_pd = process_lab_test()
print("Processed lab test data shape:", lab_test_pd.shape)
print(lab_test_pd.head())

In [15]:
# diag_file = diag_file.merge(
#     d_icd_diagnosis_file[['icd_code', 'icd_version', 'long_title']],
#     on=['icd_code', 'icd_version'],
#     how='left'
# )
diag_file

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[6364488 rows x 5 columns]

In [18]:
procedure_file

        subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0         10000032  22595853        1  2180-05-07     5491            9
1         10000032  22841357        1  2180-06-27     5491            9
2         10000032  25742920        1  2180-08-06     5491            9
3         10000068  25022803        1  2160-03-03     8938            9
4         10000117  27988844        1  2183-09-19  0QS734Z           10
...            ...       ...      ...         ...      ...          ...
859650    19999840  21033226        5  2164-09-16     0331            9
859651    19999840  26071774        1  2164-07-25     8891            9
859652    19999840  26071774        2  2164-07-25     8841            9
859653    19999987  23865745        1  2145-11-07     8841            9
859654    19999987  23865745        2  2145-11-02     9671            9

[859655 rows x 6 columns]

In [20]:
cat = diag_file.merge(
    procedure_file[['subject_id','hadm_id','icd_code', 'icd_version']],
    on=['hadm_id']
)

cat

,subject_id_x,hadm_id,seq_num,icd_code_x,icd_version_x,subject_id_y,icd_code_y,icd_version_y
0,10000032,22595853,1,5723,9,10000032,5491,9
1,10000032,22595853,2,78959,9,10000032,5491,9
2,10000032,22595853,3,5715,9,10000032,5491,9
3,10000032,22595853,4,07070,9,10000032,5491,9
4,10000032,22595853,5,496,9,10000032,5491,9
...,...,...,...,...,...,...,...,...
13447773,19999987,23865745,9,0413,9,19999987,9671,9
13447774,19999987,23865745,10,36846,9,19999987,8841,9
13447775,19999987,23865745,10,36846,9,19999987,9671,9
13447776,19999987,23865745,11,7810,9,19999987,8841,9
13447777,19999987,23865745,11,7810,9,19999987,9671,9

In [22]:
cat[cat['subject_id_x']==10000690]

,subject_id_x,hadm_id,seq_num,icd_code_x,icd_version_x,subject_id_y,icd_code_y,icd_version_y
53,10000690,25860671,1,5070,9,10000690,3893,9
54,10000690,25860671,2,42833,9,10000690,3893,9
55,10000690,25860671,3,51881,9,10000690,3893,9
56,10000690,25860671,4,5849,9,10000690,3893,9
57,10000690,25860671,5,5781,9,10000690,3893,9
58,10000690,25860671,6,2763,9,10000690,3893,9
59,10000690,25860671,7,5119,9,10000690,3893,9
60,10000690,25860671,8,5180,9,10000690,3893,9
61,10000690,25860671,9,V850,9,10000690,3893,9
62,10000690,25860671,10,4280,9,10000690,3893,9
63,10000690,25860671,11,42731,9,10000690,3893,9
64,10000690,25860671,12,42781,9,10000690,3893,9
65,10000690,25860671,13,2859,9,10000690,3893,9
66,10000690,25860671,14,4589,9,10000690,3893,9
67,10000690,25860671,15,41401,9,10000690,3893,9
68,10000690,25860671,16,71590,9,10000690,3893,9
69,10000690,25860671,17,73300,9,10000690,3893,9
70,10000690,25860671,18,45981,9,10000690,3893,9
71,10000690,25860671,19,33394,9,10000690,3893,9
72,10000690,25860671,20,3004,9,10000690,3893,9
73,10000690,25860671,21,4019,9,10000690,3893,9
74,10000690,25860671,22,4240,9,10000690,3893,9
75,10000690,26146595,1,5609,9,10000690,4524,9
76,10000690,26146595,2,5849,9,10000690,4524,9
77,10000690,26146595,3,42832,9,10000690,4524,9
78,10000690,26146595,4,2930,9,10000690,4524,9
79,10000690,26146595,5,1539,9,10000690,4524,9
80,10000690,26146595,6,4280,9,10000690,4524,9
81,10000690,26146595,7,42731,9,10000690,4524,9
82,10000690,26146595,8,71590,9,10000690,4524,9
83,10000690,26146595,9,73300,9,10000690,4524,9
84,10000690,26146595,10,33394,9,10000690,4524,9
85,10000690,26146595,11,3004,9,10000690,4524,9
86,10000690,26146595,12,56210,9,10000690,4524,9
87,10000690,26146595,13,53081,9,10000690,4524,9
88,10000690,26146595,14,4011,9,10000690,4524,9
89,10000690,26146595,15,79902,9,10000690,4524,9
90,10000690,26146595,16,78720,9,10000690,4524,9
91,10000690,26146595,17,2948,9,10000690,4524,9

In [6]:
d_lab_file = pd.read_csv(d_labevents_file, low_memory=False)
d_lab_file

      itemid                                label  fluid   category
0      50801           Alveolar-arterial Gradient  Blood  Blood Gas
1      50802                          Base Excess  Blood  Blood Gas
2      50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3      50804                 Calculated Total CO2  Blood  Blood Gas
4      50805                    Carboxyhemoglobin  Blood  Blood Gas
...      ...                                  ...    ...        ...
1645   53186                                  MCH  Blood  Chemistry
1646   53187                                  PAN  Stool  Chemistry
1647   53188                          Lymphocytes  Blood  Chemistry
1648   53189                       Platelet Count  Blood  Chemistry
1649   53190                                 MXD%  Blood  Chemistry

[1650 rows x 4 columns]